<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Appointment Form</title>
</head>
<body>
<h1>Appointment Form</h1>
<form th:action="@{/submit-appointment}" th:object="${appointment}" method="post">
    <input type="hidden" th:field="*{doctor.id}" />

    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{patient.name}" />
    <label for="telephone">Telephone:</label>


    <input type="text" id="telephone" th:field="*{patient.telephone}" />

    <label for="birthDate">Birth Date:</label>
    <input type="date" id="birthDate" th:field="*{patient.birthDate}" />

    <label for="appointmentDate">Appointment Date:</label>
    <input type="date" id="appointmentDate" th:field="*{appointmentDate}" />

    <label for="appointmentTime">Appointment Time:</label>
    <input type="time" id="appointmentTime" th:field="*{appointmentTime}" />

    <button type="submit">Submit</button>
</form>
</body>
</html>
