<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doctors List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<!-- This file will be used for AJAX to dynamically load the doctors list -->
<div class="container">
    <h2>Doctors List</h2>

    <!-- Button to add a new doctor -->
    <a href="/formDoctor" class="btn btn-primary">Add Doctor</a>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Specialty</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="doctor : ${doctors}">
            <td th:text="${doctor.name}">Doctor Name</td>
            <td th:text="${doctor.specialty}">Doctor Specialty</td>
            <td>
                <a th:href="@{/EditDoctor(id=${doctor.id})}" class="btn btn-warning">Edit</a>
                <a th:href="@{/deleteDoctor(id=${doctor.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>

    </table>
</div>

</body>
</html>
